<section class="insta-slider-section">
<div class="page-width">
    <div class="peopler-repeat row">
      
      
        {% for block in section.blocks %}
          {% case block.type %}
         {% when  'people-video' %}
          {% if block.type == 'people-video' %}
            <div class="col-lg-2 testi-video">
                <div class="people-video1"><video src="{{ block.settings.video_testimonials }}" controls></video></div>
            </div>
          {% endif %}
             {% when  'text' %}
            {% if block.type == 'text' %}
            <div class="col-lg-2 testi-text-inner">
              <div class="people-rating"><img src="{{ block.settings.testi-rating | img_url: '800x' }}"></div>
              <div class="people-video"><p>{{ block.settings.testi-text }}</p></div>
              <div class="testi-author">
                <div class="testi-author-name">{{block.settings.testi-author}}</div>
                {% if  block.settings.testi-buyers  %}
                {% endif %}
              </div>
            </div>
          {% endif %}
           {%- endcase -%}
        {% endfor %}
    </div>
</div>
</section>

{% schema %}
  {
    "name": "Instagram Slider",
    "settings": [
      {
        "type": "header",
        "content": "Instagram Slider Section"
      }
    ],
    "blocks": [
    {
      "type": "people-video",
      "name": "Add Video Testimonials",
      "limit": 6,
      "settings": [
        {
          "type": "url",
          "label": "Video Testimonial",
          "id": "video_testimonials"
        }
      ]
    },
      {
      "type": "text",
      "name": "Add Testimonials",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "label": "Ratings",
          "id": "testi-rating"
        },
        {
          "type": "richtext",
          "label": "Testimonial",
          "id": "testi-text"
        },
        {
          "type": "text",
          "label": "Testimonial Author",
          "id": "testi-author"
        },
        {
          "type": "checkbox",
          "label": "Verify Buyer",
          "id": "testi-buyers",
          "default":true
        }
      ]
    }
  ],
        "presets": [
    {
      "name": "Instagram Slider"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}