 <div class="section the-people">
        <div class="page-width people-width">
            <div class="row">
                <div class="col-md-6">
                    <div class="pp-text">
                        <h3>WHAT THE <span class="br-bottom">PEOPLE</span> THINK</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pp-img">
                        <img src="https://cdn.shopify.com/s/files/1/0717/8308/8420/files/Group_72_06c635df-ff39-45fd-922b-caa2a6cd7cb5.png?v=1689779467" alt="">
                    </div>
                </div>
            </div>
        </div>
<!--         <div class="page-width">
            <div class="row2">
                <div class="col-md-4">
                  <div class="pro-img">
                    <img src="https://cdn.shopify.com/s/files/1/0717/8308/8420/files/Mask_group_3.png?v=1684430665" alt="">
                  </div>
                  <h4>A BOLD TASTE.</h4>
                </div>
              <div class="col-md-4">
                  <div class="pro-img">
                    <img src="https://cdn.shopify.com/s/files/1/0717/8308/8420/files/Mask_group_4.png?v=1684430665" alt="">
                  </div>
                  <h4>the best ingredients.</h4>
                </div>
              <div class="col-md-4">
                  <div class="pro-img">
                    <img src="https://cdn.shopify.com/s/files/1/0717/8308/8420/files/Mask_group_15.png?v=1684431216" alt="">
                  </div>
                  <h4>made by real people.</h4>
                </div>
            </div>
        </div> -->
    </div>




{% schema %}
  {
    "name": "The People",
    "settings": [],
  
  "presets": [
    {
      "name": "The People"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}